* {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  color: #47494d;
}

main {
  margin: 0 1.5em 0 1.5em;
}

img.large {
  width: 100%;
  min-height: 30em;
  max-height: 50em;
  display: block;
  clear: both;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.coordinates {
  margin: 0 0.25em 0 0.25em;
}


.map {
    margin: 0;
    width: 100%;
    height: 80%;
    /*float: right;*/
}